<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Movie scraping monitor</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/nextfilm.css}" />
<style>
	body { padding-top: 60px; }	
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div th:replace="fragments/page :: header"></div>
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-12">
				<h1 class="text-center">Movie scraping monitor</h1>
			</div>	
		</div>
	</div>
	<div class="container">
		<!-- <div class="row">
			<input class="form-control" type="number" id="requested-movie-id"></input>
			<button id="send-btn" class="btn btn-default">Send</button>
		</div> -->
		<div class="row">
			<table class="table table-striped table-hover table-condensed" id="scrapes-table">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>FDb Rating</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>			
		</div>
	</div>
	<!-- /container -->
    <div th:replace="fragments/page :: footer"></div>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"
		th:src="@{/assets/js/jquery.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.js}"></script>
	<script th:src="@{/assets/js/sockjs-0.3.4.js}"></script>
	<script th:src="@{/assets/js/stomp.js}"></script>
		
		 
    <script th:inline="javascript">
	    /*<![CDATA[*/
	    	var APP_CONTEXT = /*[[@{/}]]*/ '/';
	    	var stompClient = null;

	    	function connect() {
	            var socket = new SockJS('/monitor');
	            stompClient = Stomp.over(socket);
	            stompClient.connect({}, function(frame) {
	                console.log('Connected: ' + frame);
	                stompClient.subscribe('/monitor/scraping', function(message){
	                	 showScrape(JSON.parse(message.body));
	                });
	            });
	        }

	        function sendMovieRequest(id) {
	            stompClient.send("/ws/monitor/event/save", {}, JSON.stringify({ 'id': id }));
	        }

	        function showScrape(result) {	        	
	        	var $movie = $('#movie-' + result.id);
	        	var row = createRow(result);
	        	if ($movie.length == 0) {
	        		 $('#scrapes-table tbody').prepend(row);	            			
	        	} else {
	        		 $movie.replaceWith(row);	        		
	        	}
	        	
	        }	
	        
	        function createRow(result) {
	        	var clazz, text, rating = '';	        	
	        	switch (result.status) {
	        		case 'STARTED':
		        		clazz = 'text-warning';
		        		text = "Loading...";
		        		break;
	        		case 'COMPLETED':
	    	        	var link = APP_CONTEXT + 'Movie/' + result.id;
	        			clazz = 'text-success';
	        			text = '<a href="'+link+'">' + result.title + '</a>';
	        			rating = result.rating / 10.0;
	        			break;
	        		case 'EXCEPTION':
	        			clazz = 'text-danger';
	        			text = '-';
	        			break;	        			
	        	}	        	
	        	return '<tr id="movie-'+result.id+'" class="'+clazz+'"><td>'
	    			+ result.id + '</td><td>'
	    			+ text + '</td><td>'
	    			+ rating + '</td></tr>'
	        }
	        
	        $(document).ready(function() {
	        	connect();	  
	        	$('#send-btn').on('click',function () {
	        		sendMovieRequest($("#requested-movie-id").val());
	        	});
	        });
	        
    	/*]]>*/
    </script>
</body>
</html>