<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Movie detail</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/nextfilm.css}" />
<link rel="stylesheet" th:href="@{/assets/css/stars.css}" />
<style>
	body { padding-top: 60px; }
	
	.badge-red {
		background-color: red;
	}
	.movie-rating {
		padding: 5px;
		font-size: 150%;
		text-align: center;
	}
	.movie-rating.rating-standard {
		background-color: gray;
		color: #fff;
	}
	
	.movie-rating.rating-high {
		background-color: red;/*#93C54B;*/
		color: #fff;
	}
	.database-links {
		font-size: 130%;
	}
	.database-links a:hover {	
		text-decoration: none;
	}
	.database-links a span:hover {	
		color: #FFFAAE;
	}
	
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div th:replace="fragments/page :: header"></div>
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-12">
				<h1 class="text-center" th:text="${movie.title}">Mission Impossible IV</h1>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt>Year</dt>
					<dd th:text="${movie.year}">2013</dd>
					<dt>Genres</dt>
					<dd><a th:href="@{/Movie/Search(genre=${g.name})}" class="badge" th:each="g : ${movie.genres}" th:text="|${g.name}|">Thriller</a></dd>
					<dt>Countries</dt>
					<dd><a th:href="@{/Movie/Search(country=${c.name})}" class="badge" th:each="c : ${movie.countries}" th:text="|${c.name}|">Anglie</a></dd>
				</dl>
			</div>			
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<div class="movie-rating" th:classappend="${movie.fdbRating >= 700 ? 'rating-high' : 'rating-standard' }">
					<div>Rating: <span class="movie-rating-value" th:if="${movie.fdbRating}"  th:text="${movie.fdbRating / 10.0}"></span></div>
				</div>
				<br/>
				<div class="text-center database-links">
					<a th:href="|http://www.fdb.cz/film/detail/${movie.fdbId}|" target="_blank"><span class="label label-warning">FDb</span></a>
					<a th:href="|http://www.csfd.cz/hledat/?q=${movie.title}|" target="_blank"><span class="label label-danger">CSFD</span></a>
					<a th:href="|http://www.imdb.com/find?ref_=nv_sr_fn&amp;s=tt&amp;q=${movie.title}|" target="_blank"><span class="label label-info">IMDb</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-header">Next film recommendations</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">By favourite movie</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-striped table-hover"  id="recommandations" th:fragment="recommendations">
							<thead>
								<tr>
									<th>#</th>
									<th>Title</th>
									<!-- <th>Genres</th>
									<th>Countries</th> -->
									<th title="Average">Avg</th>
									<th title="Normalized average">Norm</th>
									<th title="Ratings count">Count</th>
									<th title="FDb rating">FDb</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="r, index: ${recommendations}">
									<td th:text="|${index.count}.|">1.</td>
									<td><a th:href="@{/Movie/{id}(id=${r.movie.fdbId})}" th:text="${r.movie.title}">Mission Impossible IV</a></td>
									<!-- <td><a th:href="@{/Movie/Search(genre=${g.name})}" class="badge" th:each="g : ${r.movie.genres}" th:text="|${g.name}|">Thriller</a></td>
									<td><a th:href="@{/Movie/Search(country=${c.name})}" class="badge" th:each="c : ${r.movie.countries}" th:text="|${c.name}|">Spojené státy americké</a></td> -->
									<td th:text="${#numbers.formatDecimal(r.average,0,3)}">8.66</td>
									<td th:text="${#numbers.formatDecimal(r.normalizedAverage,0,3)}">10.86</td>
									<td th:text="${r.recommendationsCount}">14</td>
									<td><span class="badge" th:classappend="${r.movie.fdbRating >= 700 ? 'badge-red' : ''}" th:if="${r.movie.fdbRating}" th:text="${r.movie.fdbRating / 10.0}"></span></td>
								</tr>
								<tr th:unless="${recommendations}">
									<td colspan="9" class="text-center text-success"><i class="fa fa-spinner fa-spin"></i> Loading movies ...</td>
								</tr>
								<tr th:if="${recommendations != null and #lists.isEmpty(recommendations)}">
									<td colspan="9" class="text-center">No recommendations found</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">By movie rating</h3>
					</div>
					<div class="panel-body" style=" padding-bottom: 0px">
						<p class="pull-left">Your movie rating:</p> 
						<p class="pull-right">
							<span class="rating">			
							    <input type="radio" class="rating-input" value="10"
							        id="user-rating-10" name="user-rating"/>
							    <label for="user-rating-10" class="rating-star"></label>
							    <input type="radio" class="rating-input" value="9"
							        id="user-rating-9" name="user-rating"/>
							    <label for="user-rating-9" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="8"
							        id="user-rating-8" name="user-rating"/>
							    <label for="user-rating-8" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="7"
							        id="user-rating-7" name="user-rating"/>
							    <label for="user-rating-7" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="6"
							        id="user-rating-6" name="user-rating"/>
							    <label for="user-rating-6" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="5"
							        id="user-rating-5" name="user-rating"/>
							    <label for="user-rating-5" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="4"
							        id="user-rating-4" name="user-rating"/>
							    <label for="user-rating-4" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="3"
							        id="user-rating-3" name="user-rating"/>
							    <label for="user-rating-3" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="2"
							        id="user-rating-2" name="user-rating"/>
							    <label for="user-rating-2" class="rating-star"></label>
							    <input type="radio" class="rating-input"  value="1"
							        id="user-rating-1" name="user-rating"/>
							    <label for="user-rating-1" class="rating-star"></label>
							</span>
						</p>						
					</div>
					<div class="table-responsive">
						<table id="recommandations-by-rating"  class="table table-striped table-hover" 
							th:fragment="recommendations-by-rating">
							<thead>
								<tr>
									<th>#</th>
									<th>Title</th>
									<!-- <th>Genres</th>
									<th>Countries</th> -->
									<th title="Average">Avg</th>
									<th title="Normalized average">Norm</th>
									<th title="Ratings count">Count</th>
									<th title="FDb rating">FDb</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="r, index: ${recommendationsByRating}">
									<td th:text="|${index.count}.|">1.</td>
									<td><a th:href="@{/Movie/{id}(id=${r.movie.fdbId})}" th:text="${r.movie.title}">Mission Impossible IV</a></td>
									<td th:text="${#numbers.formatDecimal(r.average,0,3)}">8.66</td>
									<td th:text="${#numbers.formatDecimal(r.normalizedAverage,0,3)}">10.86</td>
									<td th:text="${r.recommendationsCount}">14</td>
									<td><span class="badge" th:classappend="${r.movie.fdbRating >= 700 ? 'badge-red' : ''}" th:if="${r.movie.fdbRating}" th:text="${r.movie.fdbRating / 10.0}"></span></td>
								</tr>
								<tr th:unless="${recommendationsByRating}">
									<td colspan="9" class="text-center text-danger">Rate movie first</td>
								</tr>
								<tr th:if="${recommendationsByRating != null and #lists.isEmpty(recommendationsByRating)}">
									<td colspan="9" class="text-center">No recommendations found</td>
								</tr>
							</tbody>
						</table>					
					</div>
				</div>
			</div>		
		</div>
	</div>
	<!-- /container -->
    <div th:replace="fragments/page :: footer"></div>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"
		th:src="@{/assets/js/jquery.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:inline="javascript">
	    /*<![CDATA[*/
	    	var FDB_ID = /*[[${movie.fdbId}]]*/ '1';
	    	var APP_CONTEXT = /*[[@{/}]]*/ '/';
	    	$.fn.extend({
   				loadRecommendedMovies: function(fdbId) {
    				var url = APP_CONTEXT + 'Movie/'+fdbId+'/Recommend';
   					$(this).load(url);
   				},
   				loadRecommendedMoviesByRating: function(fdbId, rating) {
    				var url = APP_CONTEXT + 'Movie/'+fdbId+'/RecommendByRating?rating=' + rating;
   					$(this).load(url);
   				}
	    	});
	    	function bindStarsRating() {
	    		$('.rating input[name="user-rating"]').click(function() {
	    			if ($(this).is(':checked')) {
	    				var rating = $(this).val();
	    				$('#recommandations-by-rating').loadRecommendedMoviesByRating(FDB_ID, rating);
    			    }
	    		});
	    		
	    	}
	    	$(document).ready(function() {	
	    		$('#recommandations').loadRecommendedMovies(FDB_ID);
	    		bindStarsRating();
	    	});	  
    	/*]]>*/
    </script>
</body>
</html>