<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Movie list</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/nextfilm.css}" />
<style>
	body { padding-top: 60px; }
	a.active {
		font-weight: bolder;
	}	
	
	.badge-red {
		background-color: red;
	}
	.symbol-filter {
		font-size: 150%;
		margin-bottom: 2em;
	}
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div th:replace="fragments/page :: header"></div>
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-12">
				<h1 class="text-center">Movies list</h1>
			</div>
		</div>
	</div>
	<div class="container">	
		<div class="row">
			<div class="symbol-filter text-center">
				<span th:each="s: ${#strings.arraySplit('a.b.c.d.e.f.g.h.ch.i.j.k.l.m.n.o.p.q.r.s.t.u.v.w.x.y.z','.')}" style="font-variant: small-caps;">
					<a class="t" th:href="@{/Movie/List(startWith=${s})}" th:text="${s}" th:classappend="${param.startWith != null AND param.startWith[0] == s ? 'active' : '' }"></a>
					&nbsp;&nbsp;
				</span>
			</div>
		</div>
		<div class="row">
			<table class="table table-strriped table-hover"  id="recommandations" th:fragment="recommendations">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Genres</th>
						<th>Countries</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r, index: ${movies}">
						<td th:text="|${index.count}.|">1.</td>						
		 				<td>
		 					<a th:href="@{/Movie/{id}(id=${r.fdbId})}" th:text="${r.title}">Mission Impossible IV</a>
		 				</td>
						<td><a th:href="@{/Movie/Search(genre=${g.name})}" class="badge" th:each="g : ${r.genres}" th:text="${g.name}">Thriller</a></td>
						<td><a th:href="@{/Movie/Search(country=${c.name})}" class="badge" th:each="c : ${r.countries}" th:text="${c.name}">Spojené státy americké</a></td>
						<td><span class="badge" th:classappend="${r.fdbRating >= 700 ? 'badge-red' : ''}" th:if="${r.fdbRating}" th:text="${r.fdbRating / 10.0}"></span></td>
					</tr>
					<tr th:if="${movies == null or #lists.isEmpty(movies)}"  class="active">
						<td colspan="6" class="text-center text-danger">Select a letter to view movies starting by that letter</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	<!-- /container -->
    <div th:replace="fragments/page :: footer"></div>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"
		th:src="@{/assets/js/jquery.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.js}"></script>   
</body>
</html>