<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>	
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
		<div class="container">
			 <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a class="navbar-brand" th:href="@{/}">
					Next Film
				</a>
		    </div>
		    
		    <form th:action="@{/Movie/Search}" method="get" class="navbar-form navbar-right" role="search">
		    	<div class="input-group">
			        <input type="text" name="q" class="form-control" placeholder="Quick search"/>
			        <div class="input-group-btn">
			        	<button type="submit" class="btn btn-muted ">
							<span class="fa fa-lg fa-search"></span>
						</button>
					</div>
		        </div>
	      	</form>
	    <!--
		    <form th:action="@{/Movie/Scrape}" method="post" class="navbar-form navbar-right" role="search">
		    	<div class="input-group">
			        <input type="text" name="fdbId" class="form-control" placeholder="Scrape by fdbId"/>
			        <div class="input-group-btn">
			        	<button type="submit" class="btn btn-muted ">
							<span class="fa fa-lg fa-plus"></span>
						</button>
					</div>
		        </div>
	      	</form>
	    -->
			<div class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li><a href="#" th:href="@{/Movie/Search}">Search</a></li>
		        <li><a href="List" th:href="@{/Movie/List}">All movies</a></li>
		        <li><a href="/Monitor/Scraping" th:href="@{/Monitor/Scraping}">Monitor</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		</div>
	</nav>
	<div th:fragment="footer" class="footer">		
      <div class="container">
        <p class="text-muted">Movies count: <span th:text="${#numbers.formatInteger(@databaseInfoService.moviesCount(),1,'COMMA')}"></span></p>
        <p class="text-muted">Rated movies count: <span th:text="${#numbers.formatInteger(@databaseInfoService.ratedMoviesCount(),1,'COMMA')}"></span></p>
        <p class="text-muted">Ratings count: <span th:text="${#numbers.formatInteger(@databaseInfoService.moviesRatingsCount(),1,'COMMA')}"></span></p>
        <p class="text-muted">Users count: <span th:text="${#numbers.formatInteger(@databaseInfoService.usersCount(),1,'COMMA')}"></span></p>
      </div>
	</div>
</body>
</html>