<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Error</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/nextfilm.css}" />
<style>
	body { padding-top: 60px; }
	.error-template {
		padding: 40px 15px px;text-align: center; font-size: 150%;
	}
	.error-template .error-message {
		margin: 3em 0;
	}
	.error-actions .btn {
		margin-right:10px;
	}
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div th:replace="fragments/page :: header"></div>
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-12">
				<h1 class="text-center"><span class="error-status" th:text="${status}">404</span> - <th:block th:utext="#{|ui.error.${status}.message|}">Stránka nebyla nalezena</th:block></h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="error-template">
					<div class="error-message">
						<h1 th:text="#{ui.error.page.header}">Chyba</h1>
						<div class="error-details">
							<th:block th:utext="#{|ui.error.${status}.message.info|(${uri})}">Info</th:block>
						</div>
					</div>
					<hr/>
					<div class="error-actions">
						<button class="btn btn-success btn-lg" onclick="history.go(-1);">
							<span class="fa fa-arrow-left"></span> Zpět
						</button>
						<a th:href="@{/}" class="btn btn-primary btn-lg"><span class="fa fa-home"></span> Domů </a>
						<a th:href="#{app.support.url}" class="btn btn-warning btn-lg"><span class="fa fa-envelope"></span> Podpora </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/page :: footer"></div>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"
		th:src="@{/assets/js/jquery.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.js}"></script>   
</body>
</html>