<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Search movies</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/nextfilm.css}" />
<style>
	body { padding-top: 60px; }	
	.badge-red {
		background-color: red;
	}
	.box {
		border: 1px solid #ccc;
		padding: 10px;
		height: 200px;
	}
	.box h3 {
		align: center;
		font-variant: small-caps;
	}
	.box:hover {
		border-width: 5px;
		padding: 6px;
	}
</style>

<!-- Latest compiled and minified JavaScript -->

<script src="https://code.jquery.com/jquery-2.1.3.min.js"
	th:src="@{/assets/js/jquery.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
	th:src="@{/assets/js/bootstrap.js}"></script>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div th:replace="fragments/page :: header"></div>
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="text-center">Search movie</h1>
				<br/>
				<form th:action="@{/Movie/Search}" method="get">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="sizing-addon1">Search</span>
						<input
							name="q" type="text" class="form-control"
							placeholder="Last watched movie ..."
							th:value="${#httpServletRequest.getParameter('q')}"
							aria-describedby="sizing-addon1" />						
					  	<div class="input-group-btn">						    	
							<button class="btn btn-success" type="submit">
								<span class="fa fa-search"></span>
							</button>
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row" th:if="${movies}">
				 	<div class="col-md-12">
				 		<div class="row">	
				 			<div class="table-responsive">
							 	<table class="table table-striped">
							 		<thead>
								 		<tr>
								 			<th>#</th>
								 			<th>Title</th>
								 			<th>Genres</th>
											<th>Countries</th>
								 			<th>Year</th>
								 			<th>Duration</th>
											<th>Rating</th>
								 		</tr>
							 		</thead>
							 		<tbody>
							 			<tr th:each="m, idx : ${movies}" >
							 				<td th:text="${idx.count}"></td>
							 				<td>
							 					<a th:href="@{/Movie/{id}(id=${m.fdbId})}" th:text="${m.title}"></a>
							 				</td>
							 				<td><a th:href="@{/Movie/Search(genre=${g.name})}" class="badge" th:each="g : ${m.genres}" th:text="|${g.name}|">Thriller</a></td>
											<td><a th:href="@{/Movie/Search(country=${c.name})}" class="badge" th:each="c : ${m.countries}" th:text="|${c.name}|">Spojené státy americké</a></td>							
							 				<td th:text="${m.year}"></td>
							 				<td><span th:text="|${m.duration} min.|" th:if="${m.duration}"></span></td>
							 				<td>
							 					<span th:if="${m.fdbRating}" th:text="${m.fdbRating / 10.0}" 
							 						th:classappend="${m.fdbRating >= 700 ? 'badge-red' : ''}" class="badge"></span>
							 				</td>
							 			</tr>
							 		</tbody>
							 	</table>
						 	</div>	
			 			</div>
			 			<div class="col-md-4">
			 				Showing <span class="badge" th:text="${moviesPage.getNumberOfElements()}">10</span>
			 				of <span class="badge" th:text="${moviesPage.getTotalElements()}">122</span> Movies.
			 			</div>
			 			<div class="col-md-8">
			 				<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
							    </li>
							    <li th:each="n : ${#numbers.sequence(1, moviesPage.getTotalPages())}">
							    	<a th:href="@{/Movie/Search(q=${param.q},page=${n-1},size=${20})}" href="#" th:text="${n}">1</a></li>
							    <li>
							      <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
							    </li>
							  </ul>
							</nav>	
			 			</div>
		 			</div>
				</div>
			</div>		
		</div>
	</div>
	<!-- /container -->
    <div th:replace="fragments/page :: footer"></div>

</body>
</html>